{
    "env": {
        "browser": true,
        "amd": true
    },
    "rules": {
        "brace-style": [2, "1tbs"],
        "camelcase": 0,
        "consistent-return": 0,
        "dot-notation": 0,
        "func-style": [0, "declaration"],
        "no-bitwise": 1,
        "no-console": 2,
        "no-else-return": 1,
        "no-floating-decimal": 2,
        "no-lonely-if": 2,
        "no-lonely-if": 2,
        "no-path-concat": 2,
        "no-plusplus": 2,
        "no-self-compare": 2,
        "no-trailing-spaces": 2,
        "no-undefined": 2,
        "no-underscore-dangle": 0,
        "quotes": [2, "single"],
        "radix": 2,
        "space-infix-ops": 2,
        "space-return-throw-case": 2,
        "space-unary-word-ops": 2,
        "wrap-iife": [2, "any"]
    },

    "globals": {

        /* LAZO */
        "LAZO": false
    }
}
